---
layout: customhome
title: Home
---

<!-- HOMEPAGE: An attractive and informative home page, to introduce the project,
the team, and highlight specific features.-->




<h1>Introduction</h1>
<!-- Requires image of before and after and will need to embed -->
<blockquote>
  <p>
    “London Cancer is the integrated cancer system serving North East & Central London and West Essex. The website for London Cancer (londoncancer.org) is in need of an update in terms of content and build. The site currently doesn’t work on all devices and has content dating back to 2013.
  </p>
  <p>
    We would like the site to be rebuilt so that both of these issues are addressed. The site should look similar in design and fit London Cancer branding (to be provided by UCLPartners), it should work for IE8+ and use WordPress as its CMS. By October we will have a finalised site map and begin creating the new content.”
  </p>
</blockquote>


<h2>Project</h2>
<!-- Requires project extract and main deliverables of project -->

<h2>Team</h2>
<!-- Covers Team Role -->

<h2>Specific Features</h2>
<!-- Anything else that requires covering -->



<!--
<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div> -->
